* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-large-title: normal 700 2.5rem/1 'Kanit', serif;
	--font-paragraph: normal 300 1rem/1.5 'Kanit', serif;
	--font-medium-title: normal 600 1.5rem/1 'Kanit', serif;
	--font-small-title: normal 500 1.2rem/1 'Kanit', serif;
	--font-nav-btn: normal 400 20px/0 'Kanit', serif;
	--main-bg-color: #e3f6f5;
	--nav-bg-color: #272643;
}

body {
	background-color: var(--main-bg-color);
}

/* Nav bar */

header {
	height: 10vh;
	display: flex;
	align-items: center;
	background-color: var(--nav-bg-color);
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 50px;
}

nav button {
	height: 50px;
	width: 100px;
	padding: 5px;
	border: none;
	font-size: 20px;
	border-radius: 20px;
	font: var(--font-nav-btn);
}

nav button:hover {
	cursor: pointer;
}

/* Content */

#content {
	margin: 15px 30px;
}

/* Repeated Code */

.description,
.work-hours,
.location,
.contact-item {
	background-color: #ffffff;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px;
	margin-bottom: 50px;
	-webkit-box-shadow: 7px 6px 9px 0px rgba(0, 0, 0, 0.27);
	box-shadow: 7px 6px 9px 0px rgba(0, 0, 0, 0.27);
	font: var(--font-paragraph);
}
.hours,
.location div {
	text-align: center;
}

.restaurant-name,
.contact h1 {
	font: var(--font-large-title);
}

h2 {
	font: var(--font-medium-title);
}

h3 {
	font: var(--font-small-title);
}

/* Home Page */

/* Menu Page */

/* Contact Page */

.contact h1 {
	margin-bottom: 30px;
}
